@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = null;
}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="description" content="SEO info">
		<title>@Umbraco.Field("pageName")</title>
	<link rel="stylesheet" type="text/css" href="/css/Style.css" />
	@RenderSection("Head",required:false)
	</head>
	
	<body>
	@{Html.RenderPartial("MainNavigation");}
		@RenderBody()	
	@RenderSection("Footer",required:false)
			@{Html.RenderPartial("logout");}
	</body>
</html>
