<?xml version="1.0" encoding="utf-8"?>
<metablogapi>
  <channel>
    <name>editor channel</name>
    <user>1</user>
    <startNode>1073</startNode>
    <fullTree>False</fullTree>
    <documentTypeAlias>newsItem</documentTypeAlias>
    <fields>
      <categories>
      </categories>
      <description>content</description>
      <excerpt>
      </excerpt>
    </fields>
    <mediaObjectSupport enabled="True" folderId="-1" mediaTypeAlias="Image" mediaTypeFileProperty="umbracoFile" />
  </channel>
</metablogapi>